@charset "utf-8";
/* index.html 에다가 link 태그를 넣는 게 아니라 여기다가 이렇게 넣어도 된다. */
/* 요새는 아래처럼 넣어서 사용하는 것을 많이 사용 */
/* @import "main.css";
@import "sub.css"; */
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: segoeui;
    src: url(../webfont/segoeui.eot), url(../webfont/segoeui.ttf), url(../webfont/segoeui.woff);
}
/* 하는데까지 다 해오기 */
/* 초기화 */
body, h1, h2, h3, h4, h5, h6, p, ul, dl, dd, figure, th, td, fieldset, input {margin: 0; padding: 0;}
/*
table 은 바깥 셀과 안쪽 셀과의 여백이 기본값으로 있기 때문에
속성을 변경해준다.
*/
table {border-collapse: collapse;}
/*
img 에 하이퍼링크를 걸면 이미지 바깥 테두리에 파란색으로 선이 생긴다.(하위 익스플로러)
그것을 방지하기 위해서 이미지의 border를 0로 적용해놓는다.
*/
fieldset, img {border: 0;}
ul {list-style: none;}
a {text-decoration: none; color: black;}
hr {display: none;}
.hidden {position: absolute; left: -9999px;}
small, address {font-size: 1em; font-style: normal; margin: 0; padding: 0;}
/* 폰트 */
body {font-family: segoeui, sans-serif;}
/* 포토샵 정보 = F8 */
/* 최소, 최대 너비 */
body {min-width: 1000px;}
/* 헤더 */
#header {
    height: 187px; width: 1000px; margin: 0 auto; position: relative;
}
/* 로고 */
/* 만약 이미지 태그로 넣을 경우 alt에다가 사이트 이름을 적어준다. logo라고 적는 게 아니라 */
#header h1 {width: 249px; padding: 90px 0 0 50px;}
#header h1 a {
    display: block; text-indent: -9999px;
    height: 50px; background: url(../images/logo.png) no-repeat;
}
/* 멤버쉽 네비게이션 */
#membership {position: absolute; top: 22px; right: 70px; text-align: center;}
#membership ul li {float: left; position: relative;}
#membership ul li.goLogin {padding-right: 9px;}
#membership ul li.goLogin::after {
    content: ""; border-right: 1px solid #bea082;
    position: absolute; top: 6px; right: 0; height: 11px;
}
#membership ul li.goJoin {padding-left: 9px;}
#membership ul li.goJoin::before {
    content: ""; border-left: 1px solid #82a0be;
    position: absolute; top: 6px; left: 0; height: 11px;
}
#membership ul li a {color: #333;}
#membership ul li a:hover {color: #00cf34;}
/* 주요 메뉴 */
#gnb {position: absolute; top: 106px; right: 40px;}
#gnb ul li {float: left; margin-left: 10px;}
#gnb ul li a {padding: 0 10px 10px; text-transform: uppercase;}
#gnb ul li a:hover {border-bottom: 3px solid #0ff;}
#gnb ul li a.on {border-bottom: 3px solid #0ff;}
/* 푸터 */
/* 너비에 100vw를 사용하게 되면 스크롤의 너비를 빼게 된다 그래서 끝에 빈 공간이 생긴다. */
#footerWrap {border-top: 1px solid gray; margin-top: 55px;}
#footer {
    width: 720px; margin: 0 auto; overflow: hidden;
    padding: 23px 76px 20px 204px;
    background: url(../images/logoFooter.png) no-repeat 55px 23px;
    /* background-color: beige; */
}
/* 저작권, 주소 */
#footer .info {float: left; font-size: 12px;}
/* 링크 */
#footer .sns {float: right;}
#footer .sns li {float: left; width: 33px; height: 33px; margin-left: 17px;}
#footer .sns a {
    display: block; width: 33px; height: 33px; text-indent: -9999px;
    background: url(../images/link_off.png) no-repeat;
    transition-duration: 0.5s;
}
#footer .sns .facebook a {margin-right: 17px;}
#footer .sns a:hover {background:url(../images/link_on.png); transition-duration: 0.5s;}
#footer .sns .twitter a {background-position-x: -70px; transition-duration: 0.5s;}


